<a href="logout.php"  style="text-decoration: none;">Logout</a> | 
    <a href="register.php" style="text-decoration: none;">Register</a> | 
    <a href="cowEntry.php" style="text-decoration: none;">Cow Entry</a> | 
    <a href="cowList.php" style="text-decoration: none;">Cow List</a> | 
    <a href="staff.php" style="text-decoration: none;">Staff Entry</a> |
    <a href="staffList.php" style="text-decoration: none;">Staff List</a> |
    <a href="itemList.php" style="text-decoration: none;">Item List</a>