<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>!! Test !!</title>
<link rel="stylesheet" href="jquery.mobile-1.3.2.css">
<link rel="./css/jquery.mobile-1.2.0.min.css"> 
<script src="./js/jquery-1.8.2.min.js"></script>
<script src="./js/jquery.mobile-1.2.0.min.js"></script>
<script src="./js/min.js"></script>
<script src="js/index.js"></script>
<style>
.textAlignRight
{
	text-align:right;
}
</style>
{block name=head}{/block}
</head>
<title>Test</title>
<body>
<b>Hello {$s_activId} </b> | <a href="logout.php">Logout</a>
<ul id="nav">
	<li><a href="index.php">Home</a></li>
</ul>
{if $s_userType == "Admin"}
	<li><a href="register.php">Register</a></li>
{/if}
</body>
{block name=body}{/block}
</html>